body {
    background-color: rgb(46, 46, 46);
    color: aliceblue;
}
 #topMenuBar {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
} 

.menuBtn {
    background-color: black;
    border: 2px solid aliceblue;
    border-radius: 3px;
    padding: 1px;
    text-align: center;
    margin-top: 5px;
    cursor: pointer;
    width: 70px;
}

.menuBtn:active {
    background-color: rgb(32, 32, 32);
}

#menuContainer1 {
    display: none;
    position: absolute;
    padding: 2px;
    border: 2px white solid;
    border-top: none;
}

#menuContainer2 {
    display: none;
    position: absolute;
}
#menuContainer3 {
    display: none;
    position: absolute;
}